.estimate-box {
    background-color: #E0643A;
    color: #fff;
    position: sticky;
    top: -60px;
    padding: 1em 1.5em;
    margin: 30px auto;
    max-width: 60em;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    z-index: 10;
    transition: transform .2s ease-in-out;
}

.estimate-box:hover {
    /* transform: translateY( 60px ); */
}

.estimate-box .prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.estimate-box .prices .price-box {
    flex-basis: 10em;
    max-width: 50%;
}

.estimate-box .title {
    grid-column: 1/4;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.estimate-box .price-box h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.estimate-box .cost {
    /* font-size: 14px; */
    font-weight: 600;
    display: block;
    margin-bottom: 2px;
}