.reservation-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
    align-content: center;
    justify-content: center;
}
@media screen and (min-width: 60rem) {
    .reservation-form {
            grid-template-columns: 1fr 1fr;

    }    
}


.form-group {
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: 400px;
    display: block;
    margin-bottom: .5rem;
}


.RatesCalculator input[type="text"],
.RatesCalculator input[type="email"],
.RatesCalculator input[type="date"],
.RatesCalculator input[type="tel"],
.RatesCalculator textarea,
.RatesCalculator select {
    padding: 1em;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    width: 100%;
}

.RatesCalculator select,
.RatesCalculator input[type="date"] {
    background: #fff;
}

.RatesCalculator input[type="date"] {
    width: fit-content;
    max-width: 100%;
}

.RatesCalculator .reservation-form button {
    grid-column: 1/-1;
    max-width: min-content;
    justify-self: center;
}

.RatesCalculator .calendar-input {
    width: fit-content;
}
